* {
    margin: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 230, 230);
}

header {
    height: 12vh;

    background-color: rgb(255, 132, 132);

    align-content: center;
}

main {
    position: relative;
}

#header-container {
    height: 70%;
    width: 90%;
    margin: auto;

    text-align: center;
    font-size: 4rem;
    font-style: italic;
    color: white;
    text-shadow: 1px 1px 5px #ff1414;
}

#menu-tareas {
    height: 60vh;
    width: 45%;
    margin: auto;
    margin-top: 2%;

    display: flex;
    flex-direction: column;
}

#menu-tareas-escondible {
    height: 50%;
    display: none;
}

#datos-nueva-tarea {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#titulo-nueva-tarea {
    width: 90%;
}

#input-titulo-tarea {
    width: 100%;
}

#cuerpo-nueva-tarea {
    height: 60%;
    width: 90%;
}

#input-cuerpo-tarea {
    height: 80%;
    width: 100%;
}

textarea {
    resize: none;
}

button {
    background-color:rgb(255, 132, 132);
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgb(255, 243, 243);
}

button:active {
    background-color: rgb(236, 76, 76);
}

#botones-menu {
    height: 20%;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#btn-agregar-tarea {
    height: 50%;
    display: none;
}

#btn-mostrar-inputs-tarea {
    height: 50%;
}

#lista-tareas {
    height: 75vh;
    width: 20%;

    position: absolute;
    top: 2%;
    right: -0%;
}

.tarea {
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 0.2rem;
}

.tarea-titulo {
    height: 2rem;

    font-weight: bold;
    background-color: rgb(255, 99, 99);
}

.tarea-cuerpo {
    min-height: 4rem;
    
    background-color: rgb(255, 175, 175);
    display: none;
}

.btn-completar-tarea{
    display: none;
}

.btn-eliminar-tarea{
    display: none;
}

button {
    border-radius: 5px;
}